<div class="jumbotron">
    <form ic-post-to="./new" ic-target="" role="form">
        <div class="form-group">
            <textarea name="content" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-default">add</button>
        </div>
    </form>
</div>
{{#each posts}}
    <div id="{{this._id}}" class="jumbotron">
        <p>{{date this.meta.createAt}}</p><hr>
        <p>{{this.content}}</p>
    </div>

{{/each}}
